:root{
    --main-color: rgb(250, 241, 231);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    }

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    height: 70px;
}

.imagem-logo{
    display:flex;
    width: 30%;
    height: 100px;
    padding: 5px;
    justify-content:center;
    align-items: center;
}

.logo{
    height: 50px;
    border-radius:100px;
    margin-left: 20px;
    transition: width .5s, height .5s ease;
}

.logo:hover{
    height: 60px;
    width: 60px;
}

.texto-logo{
    font-size: 25px;
    margin-left: 20px;
    font-family: 'fantasy';
    color:rgb(197, 124, 14);
    font-weight: 900;
}

.menu{
    display: flex;
    gap:32px;
    margin-right: 100px;
    direction: row;
    justify-content: center
}
.menu-itens{
    
    font-family: 'Sarala', sans-serif;
    color: orange;
    font-weight: 700;
    font-size: 20px;
    transition: font-size 0.5s;
    padding: 14px;
}
.menu-list{
    display: flex;
}

.menu-itens:hover{
    font-size: 25px;
    color: orangered;
}

.container-principal{
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(225, 231, 231);
    box-sizing: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.sessao1{
    display:flex;
    direction: row;
    height:500px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    background-color:rgb(227, 226, 235);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.img-sessao{
    width: 50%;
    height:100%;
    margin-right: 20px;
}

.text-sessao{
    text-align: center;
}
.text-sessao h2{
    margin-bottom: 20px;
    font-size: 40px;
}

.text-sessao p{
    font-size: 20px;
}


.item{
    flex-direction: column;
    align-items: center;
    padding: 3px;
    width: 250px;
    height: 400px;
    margin:30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.fotos{
    width: 100%;
    height:45%;
}
.info-pet {
    flex-direction:column;
    text-align: center;
}
.nome-pet{
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkred
}
.texto-info li, li{
    font-size: 20px;
    list-style-type: none;
    margin-bottom: 15px;
}

.ver-mais{
    width: 100%;
    height:50px;
    text-align: center;
    background-color: rgb(225, 231, 231);
}
.ver-mais a{
    font-size: 25px;
    border-radius: 10px;
    background-color:rgb(216, 212, 208);
    padding: 10px;
}
.rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    flex-wrap: wrap;
    text-align: center;
    background-color: var(--main-color);
} 
.item1, .item2 {
    width: 100%;
    height: 50px;
}

.rodape img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
 /* Responsividade */
@media(max-width:700px){
    body {
        margin: 15px 15px 15px 15px;
    }

    .cabecalho{
        direction: column;
        height: 90px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .imagem-logo{
        display: none;
    }

    .menu{
        width: 100%;
        text-align: center;
        margin:0;
    }
    .menu-itens{
        font-size: 25px;
        margin-right: 20px;
        margin-left: 20px;
        transition: font-size 0.5s;
        padding:15px;
    }
    .menu-itens:hover{
        font-size: 28px;
    }

    .container, .sessao1, .item1, .item2, .item3 {
        width: 100%;
    }
.sessao1{
    display: block;
    text-align: center;
    direction:column;
    height: 800px
}
.img-sessao{
    width: 100%;
    height: 50%;
}

.text-sessao p{
    font-size: 20px;
    font-weight: 500;
}
}
